In [2]:
import numpy as np
import pandas as pd
import json
import pickle
import os

In [3]:
accent_list = [
    "assamese_female_english",
    "manipuri_female_english",
    "kannada_male_english",
    "rajasthani_male_english",
    "gujarati_female_english",
    "tamil_male_english",
    "hindi_male_english",
    "malayalam_male_english",
]

In [4]:
dct_lst = []

for accent in accent_list:
    for fxn in ("GCMI", "FL2MI", "FL1MI", "LogDMI"):
        path = os.path.join(".", accent, f"all/budget_150/target_20/{fxn}_etaScale_1.0/accent_39_3rep/content_tf_idf_2gram/kernel_g=accent_gq=accent_qq=accent/accent_cosine/content_cosine/", "train.json")
        with open(path, 'r') as file:
            lines = [line.strip() for line in file.readlines()]

        dct_lst.append({
            "Accent": accent, 
            "fxn": fxn, 
            "Total_selections": len(lines), 
            "Unique": len(set(lines)),
            "Fraction": len(set(lines))/len(lines) * 100
        })
        # print(f"\tAccent: {accent}\t", f"\tfxn: {fxn}\t", f"\tJson_length: {len(lines)}\t", f"\tUnique_Json_length: {len(set(lines))}\t")

In [5]:
df = pd.DataFrame(dct_lst)
df.sort_values(["Accent", "Fraction"], ascending=False).groupby(["Accent"]).head()

                     Accent     fxn  Total_selections  Unique    Fraction
22       tamil_male_english   FL1MI               144     144  100.000000
23       tamil_male_english  LogDMI               200     100   50.000000
21       tamil_male_english   FL2MI               139      53   38.129496
20       tamil_male_english    GCMI               122      41   33.606557
14  rajasthani_male_english   FL1MI               127     127  100.000000
15  rajasthani_male_english  LogDMI               155      84   54.193548
13  rajasthani_male_english   FL2MI               106      43   40.566038
12  rajasthani_male_english    GCMI                98      33   33.673469
6   manipuri_female_english   FL1MI               167     167  100.000000
7   manipuri_female_english  LogDMI               268     119   44.402985
5   manipuri_female_english   FL2MI               179      67   37.430168
4   manipuri_female_english    GCMI               184      62   33.695652
30   malayalam_male_english   FL1MI               125     125  100.000000
31   malayalam_male_english  LogDMI               157      86   54.777070
29   malayalam_male_english   FL2MI               116      47   40.517241
28   malayalam_male_english    GCMI               111      37   33.333333
10     kannada_male_english   FL1MI               124     124  100.000000
11     kannada_male_english  LogDMI               156      79   50.641026
9      kannada_male_english   FL2MI               111      45   40.540541
8      kannada_male_english    GCMI               116      39   33.620690
26       hindi_male_english   FL1MI               155     155  100.000000
27       hindi_male_english  LogDMI               179      76   42.458101
25       hindi_male_english   FL2MI               154      60   38.961039
24       hindi_male_english    GCMI               129      43   33.333333
18  gujarati_female_english   FL1MI                86      86  100.000000
19  gujarati_female_english  LogDMI               137      68   49.635036
17  gujarati_female_english   FL2MI                98      44   44.897959
16  gujarati_female_english    GCMI                78      26   33.333333
2   assamese_female_english   FL1MI               134     134  100.000000
3   assamese_female_english  LogDMI               176      90   51.136364
1   assamese_female_english   FL2MI               122      49   40.163934
0   assamese_female_english    GCMI               128      43   33.593750